<nav class="navbar navbar-light bg-light ">
    <div class="row footer" style="width: 100%;">
        <div class="col-6 col-md-6 col-lg-6 col-xl-6">
            <div class="sociales">
                <h5>REDES SOCIALES</h5>
                <a href="https://www.facebook.com/mondobm/?ref=aymt_homepage_panel&eid=ARCejHvBFxQE6E3HCg6-MJTE-OxEbYQuOfi4VF8YxkkzzYDTUpZSZQwiVHHiwIBTaUzsykqKFYEpmQm0">
                    facebook
                </a>
                <a href="https://www.instagram.com/mondobm/">
                    <p>instagram</p>
                </a>
            </div>
        </div> 
        <div class="col-6 col-md-6 col-lg-6 col-xl-6 tel">
            <p>Teléfono</p>
            <p>33 2415 6414</p>
        </div>
    </div>
</nav>
