<div class="producto-card">
    <div class="card" *ngFor="let producto of productos">
        <div class="card-top">
            <div *ngIf="producto.imagines && producto.imagines[0]"><img src="{{producto.imagines[0]}}"></div>
        </div>
        <div class="nombre">
            <h3>{{producto.nombre | slice:0:10}}...</h3>
        </div>
        <div class="card-info">
            <div class="precio">    
                {{producto.precio | currency}}
            </div>
            <div class="button">
               <a class="btn btn btn-outline-secondary btn-sm" href="tienda/producto/{{producto.id}}">Comprar</a>
            </div>
        </div>
        <div class="card-text">
            <p>{{producto.descripcion | slice:0:25}}</p>
        </div>
    </div>
</div>